.form__group {
    position: relative;
    padding: 0.2rem;
    margin-top: 10px;
    width: 100%;
}
.form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid black;
    outline: 0;
    font-size: 1.8rem;
    color: black;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}
.form__field::placeholder {
    color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
    font-size: 1.2rem;
    cursor: text;
    top: 20px;
}
.form__label {
    position: absolute;
    text-transform: capitalize;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: black;
}
.form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, blue, #0071c5);
    border-image-slice: 1;
}
.form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1.5rem;
    color: black;
    font-weight: 500;
}
.select {

}